body{
background-color: #ccc;
font-family: arial;
color: #222;
}
header{
height: 40px;
display: block;
}
.style{

background-color:#1f2a38;
text-align: center;
}
.code{
padding-top: 50px;
padding-bottom: 0px;
min-height: 100%;
background-color: #354457;
}

h1{
color: white;
font-family: sans-serif;
font-size: 40px;
}
h3{
color:#F7CA18;
padding: 5px;
letter-spacing: 0.5rem;
}
.About{
	justify-content: center;
	background-color: white;
	min-width: 500px;
	min-height: 4  00px;
	padding-bottom: 10px;
	margin-right: 200px;
	margin-left: 200px;
}
.image{
	float:left;
	margin-right: 20px;
	margin-left: 20px;
	min-height: 100%;
	text-align: right;
	margin-right: 50px;
	margin-left: 50px;
	color:black;
	padding-bottom: 20px;
	padding-top: 20px;
	padding: 20px;
}
.p1{
	margin-left: -1px;
	margin-right: -1px;
	color:black;
	font-size: 30px;
	background-color: yellow;
	padding:20px;
}

p{
	padding:20px; 
}

.panel {
    justify-content: center;
	background-color: white;
	min-width: 450px;
	min-height: 450px;
	padding-bottom: 70px;
	margin-right: 300px;
	margin-left: 198px;
	float: left;
	margin-bottom:20px;	

	


}
.p2{
	margin-left: -1px;
	margin-right: -1px;
	color:black;
	font-size: 30px;
	background-color: yellow;
	padding: 10px;
	margin-top:0px;



}
.panel2{   
	justify-content: center;
	background-color: white;
	min-width: 450px;
	min-height: 450px;
	padding-bottom: 70px;
	margin-right: 200px;
	margin-left: 600px;
	float: right;
	margin-bottom: 400px;
	margin-top:-538px;
	padding: right;


	
	
}

.p3{
	background-color:yellow;
	margin-top:0px;
	padding: 10px;
	font-size: 30px;

    
}
.children{
	 justify-content: center;
	background-color: white;
	min-width: 940px;
	min-height: 500px;
	padding-bottom: 70px;
	margin-right: 300px;
	margin-left: 198px;
	float: left;
	margin-top: -360px;

}

table{
    border:1px solid #dddddd;
    border-collapse:collapse;
    width:100%;
    font-family:arial, sans-serif;
    text-align:left;
    background-color: white;

    

}

td,th{
  padding:8px;
  background-color: white;
}

tr{
  border-bottom:1px solid#dddddd;
}

th{
    background-color:#666666;
    color:black;
    background-color: yellow;
    padding: 20px;
}


td{
    border-right:1px solid #dddddd;
}

tr.even{
    background-color:#eeeeee;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}
.model{

background-color:#1f2a38;
text-align: left;
min-height: 100%;
justify-content: center;
font-size:10px;
margin-bottom: 30px;
/*padding-top: 50px;
padding-bottom: 100px;*/
}
.h7{
	color:yellow;
	margin-bottom: 50px;
}